@page "/about"

<div class="about-page">
    <div class="about-page-content">
        <div class="about-image-container">
            <img src="/Images/headshot_floral_shirt.png" />
        </div>
        <div class="about-summary-container">
            <div class="about-summary">
                A versatile full-stack developer passionate about blending creativity and technology. I thrive at the intersection of coding, marketing, aesthetics, photography, graphic design, and music production — crafting digital experiences that are as functional as they are visually engaging.
            </div>
        </div>
    </div>

</div>