@page "/"
@using Shared.Models
@inject HttpClient Http

<div class="contact-page" id="contactPage">
    <div class="contact-container">
        <div class="contact-form-container-wrapper">
            <EditForm Model="@contactForm" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="contact-form-container">
                    <div class="contact-form-header">
                        Reach out to us 
                    </div>
                    <div class="form-name-container">
                        <div class="form-input name-input">
                            <label for="firstName">First name</label>
                            <InputText id="firstName" class="form-control" placeholder="First name" @bind-Value=@contactForm.Name />
                        </div>
                        <div class="form-input name-input">
                            <label for="subject">Subject</label>
                            <InputText id="subject" class="form-control" placeholder="Subject" @bind-Value=@contactForm.Subject />
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="email">Email</label>
                        <InputText id="email" class="form-control" placeholder="Email" @bind-Value=@contactForm.Email />
                        <ValidationMessage For="@(() => contactForm.Email)" />
                    </div>
                    <div class="form-input">
                        <label>Phone number</label>
                        <input type="text" placeholder="Your phone number">
                    </div>
                    <div class="form-input">
                        <label>Message</label>
                        <InputTextArea id="message" placeholder="How can we help?" @bind-Value=@contactForm.Message></InputTextArea>
                    </div>
                    <button type="submit" id="form-button" class="submit-button">
                        Submit
                    </button>
                </div>
            </EditForm>
            <div class="contact-form-hook">
                Insert Hook Here
            </div>

        </div>
    </div>
</div>

@code {
    private ContactFormModel contactForm = new();
    private bool? isSuccess;

    private async Task HandleValidSubmit()
    {
        try
        {
            //var response = await Http.PostAsJsonAsync("/api/functions/sendemail", contactForm);
            var response = await Http.PostAsJsonAsync("http://localhost:7071/api/sendemail", contactForm);
            if (response.IsSuccessStatusCode)
            {
                contactForm = new ContactFormModel();
            }

        }

        catch (Exception)
        {
            isSuccess = false;
        }

    }


}