.blazor-container {
    justify-content: center;
    padding-bottom: .4cqw;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 4cqw;
    width: 30px;
}

.svg-class {
    height: 100%;
    width: 100%;
}

.clicky:hover {
    cursor: pointer;
}


.portfolio-container {
    margin-top: 0cqw;
    min-height: 100vh;
    height: fit-content;
    background-color: #fefefc;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 25cqh 15cqw;
}

.portfolio-header {
    color: #1FA0F0;
}

.portfolio-break {
    width: 100%;
    border: 1px solid lightgray;
    margin-top: 1cqh;
}

.portfolio-example-container {
    //border: 1px solid gray;
    height: 50cqh;
    margin-top: 8cqh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.example-thumb {
    width: 70%;
    height: 100%;
    //background-color: black;
    //border-radius: .2cqw;
    display: flex;
    align-items: center;
}

.example-thumb:hover {
    cursor: pointer;
}

.example-thumb img {
    object-fit: cover;
    width: 100%;
    //object-fit: contain;
    border-radius: .5cqw;
}

.example-description-container-wrapper {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.example-description-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.example-description-bio {
    color: #656565;
    padding: 2cqw 0cqw;
    font-size: .9rem;
    font-weight: 300;
}

.example-tech-stack-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1cqw;
    gap: 2cqw;
}

.example-demo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6cqw;
    font-weight: 600;
    align-items: center;
    padding-top: 7cqh;
}

.demo-item {
    display: flex;
    align-items: center;
    color: black !important;
}

.demo-item a {
    color: black !important;
}

@media (max-width: 650px) {
    .hero-image-container-wrapper {
        justify-content: center;
        width: 100%;
    }
    .hero-container {
        flex-direction: column-reverse;
    }
    .hero-description-container {
        width: 100%;
        margin-top: 8cqw;
    }

    .portfolio-example-container{
        height: 100%;
        flex-direction: column;
    }

    .example-thumb {
        width: 100%;
    }

    .example-description-container-wrapper{
        width: 100%;
        justify-content: center;
    }

    .example-description-container {
        width: 80%;
        margin-top: 5cqw;
    }

    .example-demo-container {
        padding-top: 4cqh;
    }
}